body {
  text-align: center;
}

.loginForm {
  width: 40vw;
  max-width: 500px;
  min-width: 250px;
  padding: 15px;
}

.mainContainer {
  justify-content: center;
  display: flex;
}

.postCard {
  margin: 15px;
}